<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ringo.mapper.MemberMapper">

	<select id="selectMember" parameterType="MemberVO" resultType="MemberVO">
	   select * from members
	   where user_id=#{user_id} and user_pw=#{user_pw}
	</select>
	
	<insert id="insertMember" parameterType="MemberVO">
	   insert into members(user_id,user_pw)
	   value (user_id=#{user_id}, user_pw=#{user_pw})
	</insert>
	
	<select id="selectMaxCode" parameterType="MemberVO" resultType="Integer">
    select max(user_code)
    from members
    where user_nationality = #{user_nationality}
</select>
	<!-- 
	<select id="getMember" resultType="MemberVO">		
		 select e.*, d.dname as emp_dname
		  from Member e
		  join dept d on e.emp_dnum = d.dnum
	      where e.emp_id=#{emp_id} and e.approval=0
	</select>
	
	<select id="getSetting" resultType="SettingVO">
		select s.*, 
		t1.tool_name as tool_name_1, t1.tool_url as tool_url_1, 
		t2.tool_name as tool_name_2, t2.tool_url as tool_url_2, 
		t3.tool_name as tool_name_3, t3.tool_url as tool_url_3, 
		t4.tool_name as tool_name_4, t4.tool_url as tool_url_4
		 from user_setting s
		 left join tools t1 on s.tool_id_1 = t1.tool_id
		 left join tools t2 on s.tool_id_2 = t2.tool_id
		 left join tools t3 on s.tool_id_3 = t3.tool_id
		 left join tools t4 on s.tool_id_4 = t4.tool_id
		 where s.emp_id=#{emp_id}
	</select>
	
	<select id="getSearchedMemberList" resultType="MemberVO">
	    select e.*,s.log_on,d.dname as emp_dname
	    from Member e
	    left join user_setting s on e.emp_id = s.emp_id and e.approval=0
	    left join dept d on e.emp_dnum = d.dnum
	    where 
	    replace(emp_name, ' ', '') like concat('%', #{keyword}, '%')
	    or replace(emp_tel, ' ', '') like concat('%', #{keyword}, '%')
	    or replace(emp_email, ' ', '') like concat('%', #{keyword}, '%')
	    or replace(emp_dnum, ' ', '') like concat('%', #{keyword}, '%')
	    or replace(emp_position, ' ', '') like concat('%', #{keyword}, '%')
	    or replace(emp_job, ' ', '') like concat('%', #{keyword}, '%')
	    or replace(emp_bnum, ' ', '') like concat('%', #{keyword}, '%')
	    or replace(emp_work_type, ' ', '') like concat('%', #{keyword}, '%')
	    and e.approval=0
	</select>
	
	<select id="getTeamList" resultType="MemberVO">
		select e.*,s.log_on,d.dname as emp_dname
	     from Member e
	     left join user_setting s on e.emp_id = s.emp_id and e.approval=0
	     left join dept d on e.emp_dnum = d.dnum
	     where emp_dnum = (
	         select emp_dnum
	         from Member
	         where emp_id = #{emp_id} and approval=0
	     ) and emp_bnum = (
	         select emp_bnum
	         from Member
	         where emp_id = #{emp_id} and approval=0
	     ) and e.emp_id != #{emp_id} and e.emp_id not in (select favorite_emp_id from user_favorites where emp_id = #{emp_id} and favorite_emp_id is not null)
	     order by s.log_on desc;
	</select>
	
	<select id="searchTools" resultType="SettingVO">
		select *
	     from tools
	     where tool_name like concat('%', #{keyword}, '%')
	</select>
	
	<update id="updateFavoriteTool" parameterType="SettingVO">
	    UPDATE user_setting
	     SET tool_id_1=#{tool_id_1},tool_id_2=#{tool_id_2},tool_id_3=#{tool_id_3},tool_id_4=#{tool_id_4}
	   		 WHERE emp_id=#{emp_id}
	</update>
	
	<update id="logout" parameterType="String">
	    UPDATE user_setting
	     SET log_on = false
	   	 WHERE emp_id=#{emp_id}
	</update>
	
	<update id="login" parameterType="String">
	    UPDATE user_setting
	     SET log_on = true
	   	 WHERE emp_id=#{emp_id}
	</update>

	<insert id ="followEmp">
		insert into user_favorites
		value (#{user_emp_id},#{emp_id},null)
	</insert>

	<delete id ="unfollowEmp">
		delete from user_favorites 
		where emp_id=#{user_emp_id} and favorite_emp_id=#{emp_id};
	</delete>


	<insert id="dummy">
	    INSERT INTO work_record 
	    (emp_id, date, presence, check_in, working_time, overtime, night_work_time, special_working_time) 
	    VALUES 
	    (#{emp_id}, #{date}, #{presence}, #{check_in}, #{working_time}, #{overtime}, #{night_work_time}, #{special_working_time})
	</insert>
	
	<select id = "emp_dummy" resultType="String">
		select emp_id from Member
	</select>
	
	<insert id="dummySetting">
	    INSERT INTO user_setting
	    (emp_id, tool_id_1, tool_id_2, tool_id_3, tool_id_4, log_on) 
	    VALUES 
	    (#{emp_id}, null, null, null, null, false)
	</insert>
	
	<insert id="dummyFavorite">
	    INSERT INTO user_favorites
	    (emp_id, favorite_emp_id, favorite_room_id) 
	    VALUES 
	    (#{emp_id}, null, null)
	</insert>
	
	<select id = "getPresence" resultType="java.util.Map" >
		select date,presence,check_in from work_record where emp_id = #{emp_id} and date between #{startDate} and #{endDate}
	</select> -->
	
</mapper>  