<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ringo.mapper.MsgMapper">

	<resultMap id="selectMsgRoomList_Map" type="MsgRoomVO">
	    <result property="mr_code" column="mr_code"/>
	    <result property="mr_name" column="mr_name"/>
	    <result property="mr_admin" column="mr_admin"/>
	    <result property="mr_alarm_count" column="mr_alarm_count"/>
		    		
		<association property="mr_last_message" javaType="MsgVO">
		    <result property="msg_content" column="msg_content"/>
		    <result property="msg_time" column="msg_time"/>
			<association property="msg_sender" javaType="UserVO">
				<result property="user_nickname" column="user_nickname"/>
			</association>
		</association>
	</resultMap>
	
	<resultMap id="selectMsgRoomInfo_Map" type="MsgRoomVO">
	    <result property="mr_code" column="mr_code"/>
	    <result property="mr_name" column="mr_name"/>
	    <result property="mr_admin" column="mr_admin"/>
		    		
		<collection property="mr_member" ofType="UserVO">
			<result property="user_nickname" column="user_nickname"/>
		    <result property="user_thumbnail_path" column="user_thumbnail_path"/>
		</collection>
	</resultMap>
	
	<resultMap id="msg_Map" type="MsgVO">
	    <result property="msg_code" column="msg_code"/>
	    <result property="msg_content" column="msg_content"/>
	    <result property="msg_time" column="msg_time"/>
	    <result property="msg_unreader" column="msg_unreader"/>
	    <result property="msg_unreader_count" column="msg_unreader_count"/>
	    <result property="msg_place" column="msg_place"/>
	    <result property="msg_transfer_user_code" column="msg_transfer_user_code"/>
	    <result property="msg_correction" column="msg_correction"/>

		<association property="msg_sender" javaType="UserVO">
			<result property="user_code" column="msg_sender"/>
			<result property="user_nickname" column="user_nickname"/>
			<result property="user_thumbnail_path" column="user_thumbnail_path"/>
		</association>
	</resultMap>

	<select id="selectLastMsgCode" resultType="Integer">
		select max(cast(substring_index(msg_code, '_', -1) as unsigned)) from _ringo_msg where msg_code like 'msg_%';
	</select>
	
	<select id="selectLastMsgRoomCode" resultType="Integer">
		select max(cast(substring_index(mr_code, '_', -1) as unsigned)) from _ringo_msg_room where mr_code like 'mr_%';
	</select>
	
	<select id="selectUserMsgRoomList" resultType="String">
		select mr_code from _ringo_msg_member where user_code = #{user_code}
	</select>
	
	<select id="selectPersonalMsgRoom" resultType="String">
		select mr_code
			from _ringo_msg_member
			group by mr_code
			having count(distinct user_code) = 2 
			and sum(user_code = #{user_code_1}) = 1
			and sum(user_code = #{user_code_2}) = 1
	</select>
	
	<insert id="insertPersonalMsgRoom">
		insert into _ringo_msg_room values
			(
				#{mr_code},
				(
			        select group_concat(user_nickname order by field(user_code, #{mr_inviter}, #{mr_guest}))
			        from _ringo_user
			        where user_code in (#{mr_inviter}, #{mr_guest})
			    ),
				#{mr_admin},
				now()
			);
	</insert>
	<insert id="insertPersonalMsgMember_1">
		insert into _ringo_msg_member values(#{mr_code},#{mr_inviter},now());
	</insert>
	<insert id="insertPersonalMsgMember_2">
		insert into _ringo_msg_member values(#{mr_code},#{mr_guest},now());
	</insert>
	
	<select id="selectMsgRoomList" resultMap="selectMsgRoomList_Map">
		select msgr.mr_code,
			msgr.mr_admin,
			msgr.user_nickname,
			msgr.msg_content,
			msgr.msg_time,
			trim(both ',' from 
			        replace(
			        	replace(msgr.mr_name, concat(u.user_nickname, ','), ''), 
			            concat(',', u.user_nickname),'')
			    ) as mr_name,
			(select count(*) from _ringo_msg where msg_place = mm.mr_code and msg_unreader like concat('%', #{user_code}, '%')) as mr_alarm_count
			from msgr
            left join _ringo_msg_member mm on mm.user_code = #{user_code}
            left join _ringo_user u on u.user_code = #{user_code}
			where msgr.mr_code = mm.mr_code
			order by msgr.msg_time desc
	</select>
	
	<select id="selectMsgRoomInfo" resultMap="selectMsgRoomInfo_Map">
		select msgr.mr_code, msgr.mr_admin, u.user_thumbnail_path, u.user_nickname,
			(trim(both ',' from 
			        replace(
			        	replace(msgr.mr_name, concat(u.user_nickname, ','), ''), 
			            concat(',', u.user_nickname),'')
			    )) as mr_name
			from msgr
			left join _ringo_msg_member mm on mm.mr_code = #{mr_code} 
			left join _ringo_user u on u.user_code = #{user_code}
			where msgr.mr_code = #{mr_code}
	</select>
	
	<select id="selectMsg" resultMap="msg_Map">
		select *
			from msg
			where msg_place = #{mr_code}
	</select>
	
	<select id="selectOneMsg" resultMap="msg_Map">
		select *
			from msg
			where msg_code = #{msg_code}
	</select>
	
	<select id="selectUnreaderCount" resultType="Map">
		select msg_code,msg_unreader_count
			from msg
			where msg_place = #{mr_code}
	</select>

	<insert id="insertMsg">
		insert into _ringo_msg (
	        msg_code,
	        msg_sender,
	        msg_content,
	        msg_unreader,
	        msg_place,
	        msg_file_path
	    )
	    select
	        #{msg_code},
	        #{msg_sender.user_code},
	        #{msg_content},
	        (select group_concat(user_code order by user_code separator '')
	         from _ringo_msg_member
	         where mr_code = #{msg_place} and user_code != #{msg_sender.user_code}),
	        #{msg_place},
	        #{msg_file_path}
	</insert>
	
	<update id="updateRoomUnreader">
		update _ringo_msg 
		set msg_unreader = replace(msg_unreader, #{user_code}, '')
		where msg_place = #{mr_code}
	</update>
	
	<update id="updateMsgUnreader">
		update _ringo_msg 
		set msg_unreader = replace(msg_unreader, #{user_code}, '')
		where msg_code = #{msg_code}
	</update>
	
	<insert id="insertMsgMember">
		insert into _ringo_msg_member values(#{mr_code},#{mr_guest},now());
	</insert>

</mapper>
