<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ringo.mapper.PostMapper">
	
	<resultMap id="selectCirclePost_Map" type="PostVO">
	    <result property="post_code" column="cpost_code"/>
	    <result property="post_writer" column="cpost_writer"/>
	    <result property="post_content" column="cpost_content"/>
	    <result property="post_tag" column="cpost_tag"/>
	    <result property="post_time" column="cpost_time"/>
	    <result property="post_file_path" column="cpost_file_path"/>
	    <result property="post_recomm_count" column="cpost_recomm_count"/>
	    <result property="post_reple_count" column="cpost_reple_count"/>
	    <result property="post_recomm_user" column="cpost_recomm_user"/>
	    <result property="post_ismodify" column="cpost_ismodify"/>
	    <result property="writer_thumbnail_path" column="writer_thumbnail_path"/>
	    <result property="writer_nickname" column="writer_nickname"/>
	    
	    <collection property="reples" ofType="RepleVO">
	        <result property="reple_code" column="reple_code"/>
	        <result property="writer_nickname" column="r_writer_nickname"/>
	        <result property="writer_thumbnail_path" column="r_writer_thumbnail_path"/>
	        <result property="reple_writer" column="reple_writer"/>
	        <result property="reple_content" column="reple_content"/>
	        <result property="reple_time" column="reple_time"/>
	        <result property="reple_recomm_count" column="reple_recomm_count"/>
	    </collection>
	</resultMap>
	
	<resultMap id="selectUnityPost_Map" type="PostVO">
	    <result property="post_code" column="upost_code"/>
	    <result property="post_place" column="upost_place"/>
	    <result property="post_writer" column="upost_writer"/>
	    <result property="post_title" column="upost_title"/>
	    <result property="post_content" column="upost_content"/>
	    <result property="post_tag" column="upost_tag"/>
	    <result property="post_time" column="upost_time"/>
	    <result property="post_file_path" column="upost_file_path"/>
	    <result property="post_recomm_count" column="upost_recomm_count"/>
	    <result property="post_reple_count" column="upost_reple_count"/>
	    <result property="post_recomm_user" column="upost_recomm_user"/>
	    <result property="post_ismodify" column="upost_ismodify"/>
	    <result property="writer_thumbnail_path" column="writer_thumbnail_path"/>
	    <result property="writer_nickname" column="writer_nickname"/>
	    <result property="post_seq" column="post_seq"/>
	    
	    <collection property="reples" ofType="RepleVO">
	        <result property="reple_code" column="reple_code"/>
	        <result property="writer_nickname" column="r_writer_nickname"/>
	        <result property="writer_thumbnail_path" column="r_writer_thumbnail_path"/>
	        <result property="reple_writer" column="reple_writer"/>
	        <result property="reple_content" column="reple_content"/>
	        <result property="reple_time" column="reple_time"/>
	        <result property="reple_recomm_count" column="reple_recomm_count"/>
	    </collection>
	</resultMap>
	
	<resultMap id="selectUnityBoard_Map" type="UnityBoardVO">
		<result property="unity_board_code" column="unity_board_code"/>
		<result property="unity_board_fullname" column="unity_board_fullname"/>
		<result property="unity_board_post_count" column="unity_board_post_count"/>
	    
	    <collection property="unity_post" ofType="PostVO">
		    <result property="post_code" column="post_code"/>
		    <result property="post_title" column="post_title"/>
		    <result property="post_recomm_count" column="post_recomm_count"/>
		    <result property="post_reple_count" column="post_reple_count"/>
		    <result property="post_time" column="post_time"/>
		    <result property="writer_nickname" column="writer_nickname"/>
		    <result property="writer_unity_member_grade" column="writer_unity_member_grade"/>
		    <result property="post_seq" column="post_seq"/>
	    </collection>
	</resultMap>
	
	<select id="selectLastRepleCode" resultType="Integer">
		select max(
	        cast(
	            substring(
	                reple_code,
	                locate('cmt_', reple_code) + 4,
	                locate('-', reple_code) - locate('cmt_', reple_code) - 4
	            ) as unsigned
	        )
	    ) 
	    from _ringo_reple 
	    where reple_code like 'cmt_%-%'
	</select>
	
	<insert id="insertReple" parameterType="RepleVO">
        insert into _ringo_reple (
            reple_code,
            reple_target,
            reple_writer,
            reple_content
        ) values (
            #{reple_code},
            #{reple_target},
            #{reple_writer},
            #{reple_content}
        )
    </insert>
    
	<select id="selectReple" resultType="RepleVO">
		select r.*, u.user_thumbnail_path as writer_thumbnail_path, u.user_nickname as writer_nickname
   		 from _ringo_reple r
    	 join _ringo_user u on r.reple_writer = u.user_code
    	 where r.reple_target = #{reple_target}
    	 order by r.reple_time desc
	</select>
	
	<select id="selectLastCirclePostCode" resultType="Integer">
		select max(
	        cast(
	            substring(
	                cpost_code,
	                locate('cp_', cpost_code) + 3,
	                locate('-', cpost_code) - locate('cp_', cpost_code) - 3
	            ) as unsigned
	        )
	    ) 
	    from _ringo_circle_post
	    where cpost_code like 'cp_%-%'
	</select>
	
	<insert id="insertCirclePost" parameterType="PostVO">
        insert into _ringo_circle_post (
        	cpost_code,
            cpost_writer,
            cpost_content,
            cpost_tag,
            cpost_file_path
        ) values (
            #{post_code},
            #{post_writer},
            #{post_content},
            #{post_tag},
            #{post_file_path}
        )
    </insert>
	
	<select id="selectCirclePost" resultMap="selectCirclePost_Map">
		select cp.*, 
		 u1.user_thumbnail_path as writer_thumbnail_path, 
		 u1.user_nickname as writer_nickname,
		 r.reple_code, 
		 r.reple_writer, 
		 r.reple_content, 
		 r.reple_time,
		 r.reple_recomm_count,
		 u2.user_thumbnail_path as r_writer_thumbnail_path, 
		 u2.user_nickname as r_writer_nickname
		 
   		 from _ringo_circle_post cp
    	 join _ringo_user u1 on cp.cpost_writer = u1.user_code
    	 left join _ringo_reple r on r.reple_target = cp.cpost_code
    	 left join _ringo_user u2 on r.reple_writer = u2.user_code
    	 
    	 where cp.cpost_writer = #{post_writer}
    	 order by cp.cpost_time desc, r.reple_time desc
	</select>
	
	<select id="selectLastUnityPostCode" resultType="Integer">
		select max(
	        cast(
	            substring(
	                upost_code,
	                locate('up_', upost_code) + 3,
	                locate('-', upost_code) - locate('up_', upost_code) - 3
	            ) as unsigned
	        )
	    ) 
	    from _ringo_unity_post
	    where upost_code like 'up_%-%'
	</select>
	
	<insert id="insertUnityPost" parameterType="PostVO">
        insert into _ringo_unity_post (
        	upost_code,
        	upost_place,
            upost_writer,
            upost_title,
            upost_content,
            upost_tag,
            upost_file_path
        ) values (
            #{post_code},
            #{post_place},
            #{post_writer},
            #{post_title},
            #{post_content},
            #{post_tag},
            #{post_file_path}
        )
    </insert>
    
    <select id="selectUnityPage" resultType="Integer">
    	with CTE_Posts as (
		    select 
		        upost_code,
		        row_number() over (order by upost_time desc) as post_seq
		    from _ringo_unity_post
		    where upost_place = substring_index(substring_index(#{unity_post_code}, '-', 2), '-', -1)
		)
		select ceil(post_seq / 20) as page_num
		from CTE_Posts
		where upost_code = #{unity_post_code};
    </select>
	
	<select id="selectUnityPost" resultMap="selectUnityPost_Map">
		select up.*,
           u1.user_thumbnail_path as writer_thumbnail_path, 
           u1.user_nickname as writer_nickname,
           r.reple_code, 
           r.reple_writer, 
           r.reple_content, 
           r.reple_time,
           r.reple_recomm_count,
           u2.user_thumbnail_path as r_writer_thumbnail_path, 
           u2.user_nickname as r_writer_nickname,
           row_number() over (order by up.upost_time desc) as post_seq
	    from _ringo_unity_post up
	    join _ringo_user u1 on up.upost_writer = u1.user_code
	    left join _ringo_reple r on r.reple_target = up.upost_code
	    left join _ringo_user u2 on r.reple_writer = u2.user_code
	    where up.upost_place = #{unity_board_code}
	    order by up.upost_time desc limit 20 offset #{unity_board_page}
	</select>
	
	<select id="selectUnityBoard" resultMap="selectUnityBoard_Map">
        select
            up.upost_code as post_code,
            up.upost_title as post_title,
            up.upost_recomm_count as post_recomm_count,
            up.upost_reple_count as post_reple_count,
            up.upost_time as post_time,
            u.user_nickname as writer_nickname,
            um.unity_member_grade as writer_unity_member_grade,
            concat('[', ub.unity_board_category, '] - ', ub.unity_board_name) as unity_board_fullname,
            (select count(*) from _ringo_unity_post where upost_place = #{unity_board_code}) as unity_board_post_count,
            row_number() over (order by up.upost_time desc) as post_seq
        from _ringo_unity_post up
        left join _ringo_unity_member um on up.upost_writer = um.user_code and 
        um.unity_code = (
			    select 
			        substring(
			            #{unity_board_code}, 
			            1, 
			            locate('-', #{unity_board_code}, locate('-', #{unity_board_code}) + 1) - 1
			        )
			)
        left join _ringo_user u on up.upost_writer = u.user_code
        left join _ringo_unity_board ub on ub.unity_board_code = #{unity_board_code}
        where up.upost_place = #{unity_board_code}
        order by up.upost_time desc
        limit 20 offset #{unity_board_page}
	</select>
	
	<select id="selectMoreUnityPost" resultMap="selectUnityPost_Map">
	    with CTE_Posts as (
	        select 
	            up.*,
	            u1.user_thumbnail_path as writer_thumbnail_path, 
	            u1.user_nickname as writer_nickname,
	            r.reple_code, 
	            r.reple_writer, 
	            r.reple_content, 
	            r.reple_time,
	            r.reple_recomm_count,
	            u2.user_thumbnail_path as r_writer_thumbnail_path, 
	            u2.user_nickname as r_writer_nickname,
	            row_number() over (order by up.upost_time desc) as post_seq
	        from _ringo_unity_post up
	        join _ringo_user u1 on up.upost_writer = u1.user_code
	        left join _ringo_reple r on r.reple_target = up.upost_code
	        left join _ringo_user u2 on r.reple_writer = u2.user_code
	        where up.upost_place = substring_index(substring_index(#{unity_post_code}, '-', 2), '-', -1)
	    )
	    select *
	    from CTE_Posts
	    where 1 = 1
	        <if test="unity_add_direction == 'up'">
	            and post_seq between 
		            (select post_seq from CTE_Posts where upost_code = #{unity_post_code}) - 20
		            and 
		            (select post_seq from CTE_Posts where upost_code = #{unity_post_code}) - 1
	        </if>
	        <if test="unity_add_direction == 'down'">
	        	and post_seq between 
        			(select post_seq from CTE_Posts where upost_code = #{unity_post_code}) + 1
            		and 
            		(select post_seq from CTE_Posts where upost_code = #{unity_post_code}) + 20
	        </if>
	    order by upost_time desc limit 20
	</select>

	
</mapper>  