<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ringo.mapper.UnityMapper">
	
	<resultMap id="selectUnity_Map" type="UnityVO">
	    <result property="unity_code" column="unity_code"/>
	    <result property="unity_name" column="unity_name"/>
	    <result property="unity_admin" column="unity_admin"/>
	    <result property="unity_tag" column="unity_tag"/>
	    <result property="unity_intro" column="unity_intro"/>
	    <result property="unity_method" column="unity_method"/>
	    <result property="unity_topic" column="unity_topic"/>
	    <result property="unity_lang" column="unity_lang"/>
	    <result property="unity_location" column="unity_location"/>
	    <result property="unity_private" column="unity_private"/>
	    <result property="unity_thumbnail_path" column="unity_thumbnail_path"/>
	    <result property="unity_banner_path" column="unity_banner_path"/>
	    <result property="unity_banner_set" column="unity_banner_set"/>
	    <result property="unity_since" column="unity_since"/>
	    <result property="unity_grade" column="unity_grade"/>
	    <result property="unity_member_count" column="unity_member_count"/>
	    
	    <collection property="unity_board" ofType="UnityBoardVO">
	        <result property="unity_board_code" column="unity_board_code"/>
	        <result property="unity_board_category" column="unity_board_category"/>
	        <result property="unity_board_name" column="unity_board_name"/>
	    </collection>
	</resultMap>
	
	<resultMap id="selectUnityMain_Map" type="UnityVO">
	    <result property="unity_banner_path" column="unity_banner_path"/>
	    <result property="unity_banner_set" column="unity_banner_set"/>
	    
	    <association property="unity_member" javaType="UnityMemberVO">
		    <result property="unity_member_visit_times" column="unity_member_visit_times"/>
		    <result property="unity_member_write_count" column="unity_member_write_count"/>
		    <result property="unity_member_reple_count" column="unity_member_reple_count"/>
		    <result property="unity_member_grade" column="unity_member_grade"/>
		    <result property="unity_member_since" column="unity_member_since"/>
	        <result property="user_code" column="user_code"/>
	        <result property="user_nickname" column="user_nickname"/>
	        <result property="user_logon" column="user_logon"/>
	    </association>
	</resultMap>
	
	<select id="selectLastUnityCode" resultType="Integer">
		select max(cast(substring_index(unity_code, '_', -1) as unsigned)) from _ringo_unity where unity_code like 'unt_%'
	</select>
	
	<select id="selectDupleUnityName" resultType="Integer">
		select count(*) from _ringo_unity where unity_name = #{data}
	</select>
	
	<insert id="insertUnity" parameterType="UnityVO">
	    insert into _ringo_unity (
	        unity_code,
	        unity_name,
	        unity_admin,
	        unity_topic,
	        unity_lang,
	        unity_location,
	        unity_tag,
	        unity_intro,
	        unity_method,
	        unity_private,
	        unity_thumbnail_path,
	        unity_banner_set,
	        unity_banner_path
	    ) values (
	        #{unity_code},
	        #{unity_name},
	        #{unity_admin},
	        #{unity_topic},
	        #{unity_lang},
	        #{unity_location},
	        #{unity_tag},
	        #{unity_intro},
	        #{unity_method},
	        #{unity_private},
	        #{unity_thumbnail_path},
	        #{unity_banner_set},
	        #{unity_banner_path}
	    )
	</insert>
	
	<insert id="insertUnityMember" parameterType="UnityVO">
		insert into _ringo_unity_member (
	        unity_code,
	        user_code
	    ) values (
	    	#{unity_code},
	    	#{user_code}
	    )
	</insert>
	
	<update id="updateUnityMember" parameterType="UnityVO">
		update _ringo_unity_member
	     set unity_member_grade = #{unity_member_grade}
	     where user_code = #{user_code}
	</update>
	
	<select id="selectUnities" resultType="UnityVO">
		select
		    unt.unity_code,
		    unt.unity_name,
		    unt.unity_tag,
		    unt.unity_thumbnail_path,
		    unt.unity_intro,
		    'joined' as unity_type
		from _ringo_unity unt
		join _ringo_unity_member untm ON unt.unity_code = untm.unity_code
		where untm.user_code = #{user_code}
		
		union all
		
		select
		    unt.unity_code,
		    unt.unity_name,
		    unt.unity_tag,
		    unt.unity_thumbnail_path,
		    NULL as unity_last_post,
		    'favorite' as unity_type
		from _ringo_unity unt
		join _ringo_favorite f on unt.unity_code = f.target_code
		where f.user_code = #{user_code}

	</select>
	
	<select id="selectUnity" resultMap="selectUnity_Map">
		select 
			unt.unity_code,
			unt.unity_name,
			unt.unity_admin,
			unt.unity_tag,
			unt.unity_intro,
			unt.unity_method,
			unt.unity_topic,
			unt.unity_lang,
			unt.unity_location,
			unt.unity_private,
			unt.unity_thumbnail_path,
			unt.unity_since,
			unt.unity_grade,
			unt.unity_member_count,
			ub.unity_board_code,
			ub.unity_board_category,
			ub.unity_board_name
			
		from _ringo_unity unt
		left join _ringo_unity_board ub on unt.unity_code = ub.unity_code
		where unt.unity_code = #{unity_code} 
		order by unity_board_code asc
	</select>
	
	<select id="selectUnityBasicPost" resultType="PostVO">
    (select
        post_code,
        post_place,
        post_place_name,
        post_writer,
        post_recomm_count,
        post_reple_count,
        post_title,
        post_time,
        writer_thumbnail_path,
        writer_nickname,
        'hot_post' as post_type
    from uPost
    where substring_index(post_place, '_', 2) = #{unity_code}
      and post_time >= now() - interval 3 day
    )
    
	union all

    (select
        post_code,
        post_place,
        post_place_name,
        post_writer,
        post_recomm_count,
        post_reple_count,
        post_title,
        post_time,
        writer_thumbnail_path,
        writer_nickname,
        'recent_post' as post_type
    from uPost
    where substring_index(post_place, '_', 2) = #{unity_code}
    )
    
    order by (post_reple_count + post_recomm_count) desc, post_time desc
	</select>
	
	<select id="selectUnityMain" resultMap="selectUnityMain_Map">
	select
		u.user_code,
		u.user_nickname,
		u.user_logon,
		um.unity_member_visit_times,			
		um.unity_member_write_count,			
		um.unity_member_reple_count,			
		um.unity_member_grade,			
		um.unity_member_since,
		unt.unity_banner_path,
		unt.unity_banner_set
	from _ringo_user u
	left join _ringo_unity_member um on um.unity_code = #{unity_code} and um.user_code = u.user_code
	left join _ringo_unity unt on unt.unity_code = #{unity_code}
	where u.user_code = #{user_code}
	</select>
	
	<select id="selectUnityBoardInfo" resultType="UnityBoardVO">
       	select
			unity_board_code,
			unity_board_category,
			unity_board_name,
			concat('[', unity_board_category, '] - ', unity_board_name) as unity_board_fullname
		from _ringo_unity_board
		where unity_board_code = #{unity_board_code}
	</select>
	
</mapper>  