<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ringo.mapper.UserMapper">

	<resultMap id="selectUserProfile_Map" type="UserVO">
	    <result property="user_fcode" column="user_fcode"/>
	    <result property="user_nickname" column="user_nickname"/>
	    <result property="user_birth" column="user_birth"/>
	    <result property="user_nation" column="user_nation"/>
	    <result property="user_gender" column="user_gender"/>
	    <result property="user_native_lang" column="user_native_lang"/>
	    <result property="user_fluent_lang" column="user_fluent_lang"/>
	    <result property="user_learning_lang" column="user_learning_lang"/>
	    <result property="user_intro" column="user_intro"/>
	    <result property="user_ideal_partner" column="user_ideal_partner"/>
	    <result property="user_objective" column="user_objective"/>
	    <result property="user_topic" column="user_topic"/>
	    <result property="user_interest" column="user_interest"/>
	    <result property="user_correction_degree" column="user_correction_degree"/>
	    <result property="user_usually_time" column="user_usually_time"/>
	    <result property="user_method" column="user_method"/>
	    <result property="user_thumbnail_path" column="user_thumbnail_path"/>
	    <result property="user_profile_path" column="user_profile_path"/>
	    <result property="user_logon" column="user_logon"/>
	
	    <collection property="user_follower" ofType="UserVO">
	        <result property="user_fcode" column="follower_user_fcode"/>
	        <result property="user_nickname" column="follower_user_nickname"/>
	        <result property="user_thumbnail_path" column="follower_user_thumbnail_path"/>
	        <result property="user_nation" column="follower_user_nation"/>
	        <result property="user_gender" column="follower_user_gender"/>
	        <result property="user_birth" column="follower_user_birth"/>
	        <result property="user_logon" column="follower_user_logon"/>
	    </collection>
	
	    <collection property="user_following" ofType="UserVO">
	        <result property="user_fcode" column="following_user_fcode"/>
	        <result property="user_nickname" column="following_user_nickname"/>
	        <result property="user_thumbnail_path" column="following_user_thumbnail_path"/>
	        <result property="user_nation" column="following_user_nation"/>
	        <result property="user_gender" column="following_user_gender"/>
	        <result property="user_birth" column="following_user_birth"/>
	        <result property="user_logon" column="following_user_logon"/>
	    </collection>
	</resultMap>
	
	<select id="selectUser" parameterType="UserVO" resultType="UserVO">
	   select * from _ringo_user
	    where user_id=#{user_id} and user_pw=#{user_pw}
	</select>
	
	<select id="selectUserNickname" resultType="String">
	   select user_nickname from _ringo_user
	    where user_code=#{user_code}
	</select>
	
	<insert id="insertUser" parameterType="UserVO">
	   insert into _ringo_user (
        user_fcode, user_code, user_id, user_pw, user_name, user_nickname, user_birth,
        user_nation, user_gender, user_tel, user_email, user_address,
        user_native_lang, user_fluent_lang, user_learning_lang, 
        user_intro, user_ideal_partner, user_objective, user_topic, user_interest,
        user_correction_degree, user_usually_time, user_method, user_grade, user_thumbnail_path, user_profile_path,
        user_private, user_logon
	    )
	    values (
	        #{user_fcode}, #{user_code}, #{user_id}, #{user_pw}, #{user_name}, #{user_nickname}, #{user_birth},
	        #{user_nation}, #{user_gender}, #{user_tel}, #{user_email}, #{user_address},
	        #{user_native_lang}, #{user_fluent_lang}, #{user_learning_lang}, 
	        #{user_intro}, #{user_ideal_partner}, #{user_objective}, #{user_topic}, #{user_interest},
	        #{user_correction_degree}, #{user_usually_time}, #{user_method}, 'Bronze', #{user_thumbnail_path}, #{user_profile_path},
	        #{user_private}, 0
	    )
	</insert>
	
	<select id="selectLastCode" parameterType="UserVO" resultType="Integer">
		select max(cast(substring_index(user_code, '_', -1) as unsigned)) from _ringo_user where user_code like 'r_%';
	</select>
	
	<select id="selectDuplication" parameterType="Map" resultType="Integer">
	    select count(*) from _ringo_user
	    where ${target} = #{value}
	</select>
	
	<select id="selectUserProfile" resultMap="selectUserProfile_Map">
	    select 
	        u1.user_fcode,
	        u1.user_nickname,
	        u1.user_birth,
	        u1.user_nation,
	        u1.user_gender,
	        u1.user_native_lang,
	        u1.user_fluent_lang,
	        u1.user_learning_lang,
	        u1.user_intro,
	        u1.user_ideal_partner,
	        u1.user_objective,
	        u1.user_topic,
	        u1.user_interest,
	        u1.user_correction_degree,
	        u1.user_usually_time,
	        u1.user_method,
	        u1.user_thumbnail_path,
	        u1.user_profile_path,
	        u1.user_logon,
	        
	        f1_user.user_fcode as follower_user_fcode,
	        f1_user.user_nickname as follower_user_nickname,
	        f1_user.user_thumbnail_path as follower_user_thumbnail_path,
	        f1_user.user_nation as follower_user_nation,
	        f1_user.user_gender as follower_user_gender,
	        f1_user.user_birth as follower_user_birth,
	        f1_user.user_logon as follower_user_logon,
	        
	        f2_user.user_fcode as following_user_fcode,
	        f2_user.user_nickname as following_user_nickname,
	        f2_user.user_thumbnail_path as following_user_thumbnail_path,
	        f2_user.user_nation as following_user_nation,
	        f2_user.user_gender as following_user_gender,
	        f2_user.user_birth as following_user_birth,
	        f2_user.user_logon as following_user_logon
	        
	    from _ringo_user u1
	    
	    left join _ringo_follow f1 on f1.target_code = u1.user_code
	    left join _ringo_user f1_user on f1.user_code = f1_user.user_code
	    left join _ringo_follow f2 on f2.user_code = u1.user_code
	    left join _ringo_user f2_user on f2.target_code = f2_user.user_code
	    
	    where u1.user_code = #{user_code}
	</select>
	
	<!-- 
	<select id="getMember" resultType="MemberVO">		
		 select e.*, d.dname as emp_dname
		  from Member e
		  join dept d on e.emp_dnum = d.dnum
	      where e.emp_id=#{emp_id} and e.approval=0
	</select>
	
	<select id="getSetting" resultType="SettingVO">
		select s.*, 
		t1.tool_name as tool_name_1, t1.tool_url as tool_url_1, 
		t2.tool_name as tool_name_2, t2.tool_url as tool_url_2, 
		t3.tool_name as tool_name_3, t3.tool_url as tool_url_3, 
		t4.tool_name as tool_name_4, t4.tool_url as tool_url_4
		 from user_setting s
		 left join tools t1 on s.tool_id_1 = t1.tool_id
		 left join tools t2 on s.tool_id_2 = t2.tool_id
		 left join tools t3 on s.tool_id_3 = t3.tool_id
		 left join tools t4 on s.tool_id_4 = t4.tool_id
		 where s.emp_id=#{emp_id}
	</select>
	
	<select id="getSearchedMemberList" resultType="MemberVO">
	    select e.*,s.log_on,d.dname as emp_dname
	    from Member e
	    left join user_setting s on e.emp_id = s.emp_id and e.approval=0
	    left join dept d on e.emp_dnum = d.dnum
	    where 
	    replace(emp_name, ' ', '') like concat('%', #{keyword}, '%')
	    or replace(emp_tel, ' ', '') like concat('%', #{keyword}, '%')
	    or replace(emp_email, ' ', '') like concat('%', #{keyword}, '%')
	    or replace(emp_dnum, ' ', '') like concat('%', #{keyword}, '%')
	    or replace(emp_position, ' ', '') like concat('%', #{keyword}, '%')
	    or replace(emp_job, ' ', '') like concat('%', #{keyword}, '%')
	    or replace(emp_bnum, ' ', '') like concat('%', #{keyword}, '%')
	    or replace(emp_work_type, ' ', '') like concat('%', #{keyword}, '%')
	    and e.approval=0
	</select>
	
	<select id="getTeamList" resultType="MemberVO">
		select e.*,s.log_on,d.dname as emp_dname
	     from Member e
	     left join user_setting s on e.emp_id = s.emp_id and e.approval=0
	     left join dept d on e.emp_dnum = d.dnum
	     where emp_dnum = (
	         select emp_dnum
	         from Member
	         where emp_id = #{emp_id} and approval=0
	     ) and emp_bnum = (
	         select emp_bnum
	         from Member
	         where emp_id = #{emp_id} and approval=0
	     ) and e.emp_id != #{emp_id} and e.emp_id not in (select favorite_emp_id from user_favorites where emp_id = #{emp_id} and favorite_emp_id is not null)
	     order by s.log_on desc;
	</select>
	
	<select id="searchTools" resultType="SettingVO">
		select *
	     from tools
	     where tool_name like concat('%', #{keyword}, '%')
	</select>
	
	<update id="updateFavoriteTool" parameterType="SettingVO">
	    UPDATE user_setting
	     SET tool_id_1=#{tool_id_1},tool_id_2=#{tool_id_2},tool_id_3=#{tool_id_3},tool_id_4=#{tool_id_4}
	   		 WHERE emp_id=#{emp_id}
	</update>
	
	<update id="logout" parameterType="String">
	    UPDATE user_setting
	     SET log_on = false
	   	 WHERE emp_id=#{emp_id}
	</update>
	
	<update id="login" parameterType="String">
	    UPDATE user_setting
	     SET log_on = true
	   	 WHERE emp_id=#{emp_id}
	</update>

	<insert id ="followEmp">
		insert into user_favorites
		value (#{user_emp_id},#{emp_id},null)
	</insert>

	<delete id ="unfollowEmp">
		delete from user_favorites 
		where emp_id=#{user_emp_id} and favorite_emp_id=#{emp_id};
	</delete>


	<insert id="dummy">
	    INSERT INTO work_record 
	    (emp_id, date, presence, check_in, working_time, overtime, night_work_time, special_working_time) 
	    VALUES 
	    (#{emp_id}, #{date}, #{presence}, #{check_in}, #{working_time}, #{overtime}, #{night_work_time}, #{special_working_time})
	</insert>
	
	<select id = "emp_dummy" resultType="String">
		select emp_id from Member
	</select>
	
	<insert id="dummySetting">
	    INSERT INTO user_setting
	    (emp_id, tool_id_1, tool_id_2, tool_id_3, tool_id_4, log_on) 
	    VALUES 
	    (#{emp_id}, null, null, null, null, false)
	</insert>
	
	<insert id="dummyFavorite">
	    INSERT INTO user_favorites
	    (emp_id, favorite_emp_id, favorite_room_id) 
	    VALUES 
	    (#{emp_id}, null, null)
	</insert>
	
	<select id = "getPresence" resultType="java.util.Map" >
		select date,presence,check_in from work_record where emp_id = #{emp_id} and date between #{startDate} and #{endDate}
	</select> -->
	
</mapper>  