<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ringo.mapper.UserMapper">

	<resultMap id="selectUserProfile_Map" type="UserVO">
	    <result property="user_code" column="user_code"/>
	    <result property="user_nickname" column="user_nickname"/>
	    <result property="user_birth" column="user_birth"/>
	    <result property="user_nation" column="user_nation"/>
	    <result property="user_gender" column="user_gender"/>
	    <result property="user_native_lang" column="user_native_lang"/>
	    <result property="user_fluent_lang" column="user_fluent_lang"/>
	    <result property="user_learning_lang" column="user_learning_lang"/>
	    <result property="user_intro" column="user_intro"/>
	    <result property="user_ideal_partner" column="user_ideal_partner"/>
	    <result property="user_objective" column="user_objective"/>
	    <result property="user_topic" column="user_topic"/>
	    <result property="user_interest" column="user_interest"/>
	    <result property="user_correction_degree" column="user_correction_degree"/>
	    <result property="user_usually_time" column="user_usually_time"/>
	    <result property="user_method" column="user_method"/>
	    <result property="user_thumbnail_path" column="user_thumbnail_path"/>
	    <result property="user_profile_path" column="user_profile_path"/>
	    <result property="user_logon" column="user_logon"/>
	    <result property="user_log_time" column="user_log_time"/>
	    <result property="user_log_location" column="user_log_location"/>
	    <result property="user_follower_count" column="user_follower_count"/>
	    <result property="user_following_count" column="user_following_count"/>
	</resultMap>
	
	<select id="selectUser" parameterType="UserVO" resultType="UserVO">
	   select * from _ringo_user
	    where user_id=#{user_id} and user_pw=#{user_pw}
	</select>
	
	<select id="selectUserNickname" resultType="String">
	   select user_nickname from _ringo_user
	    where user_code=#{user_code}
	</select>
	
	<select id="selectUserFavorite" resultType="String">
	   select target_code from _ringo_favorite
	    where user_code=#{user_code}
	</select>
	
	<select id="selectUserFollow" resultType="String">
	   select target_code from _ringo_follow
	    where user_code=#{user_code}
	</select>
	
	<insert id="insertUser" parameterType="UserVO">
	   insert into _ringo_user (
        user_fcode, user_code, user_id, user_pw, user_name, user_nickname, user_birth,
        user_nation, user_gender, user_tel, user_email, user_address,
        user_native_lang, user_fluent_lang, user_learning_lang, 
        user_intro, user_ideal_partner, user_objective, user_topic, user_interest,
        user_correction_degree, user_usually_time, user_method, user_grade, user_thumbnail_path, user_profile_path,
        user_private, user_logon, user_log_geolocation, user_log_time
	    )
	    values (
	        #{user_fcode}, #{user_code}, #{user_id}, #{user_pw}, #{user_name}, #{user_nickname}, #{user_birth},
	        #{user_nation}, #{user_gender}, #{user_tel}, #{user_email}, #{user_address},
	        #{user_native_lang}, #{user_fluent_lang}, #{user_learning_lang}, 
	        #{user_intro}, #{user_ideal_partner}, #{user_objective}, #{user_topic}, #{user_interest},
	        #{user_correction_degree}, #{user_usually_time}, #{user_method}, 'Bronze', #{user_thumbnail_path}, #{user_profile_path},
	        #{user_private}, 0, '0,0', now()
	    )
	</insert>
	
	<select id="selectLastCode" parameterType="UserVO" resultType="Integer">
		select max(cast(substring_index(user_code, '_', -1) as unsigned)) from _ringo_user where user_code like 'r_%';
	</select>
	
	<select id="selectDuplication" parameterType="Map" resultType="Integer">
	    select count(*) from _ringo_user
	    where ${target} = #{value}
	</select>
	
	<select id="selectUserProfile" resultMap="selectUserProfile_Map">
	    select * from user
	    	where user_code = #{user_code}
	</select>
	
	<select id="selectFollowerProfile" resultType="UserVO">
	    select 
	        u.user_code,
	        u.user_nickname,
	        u.user_thumbnail_path,
	        u.user_nation,
	        u.user_gender,
	        u.user_birth,
	        u.user_logon,
	        u.user_log_time,
	        u.user_log_location,
	        u.user_private
	    from _ringo_user u
	    left join _ringo_follow f on f.user_code = u.user_code
	    
	    where f.target_code = #{user_code}
	</select>
	
	<select id="selectFollowingProfile" resultType="UserVO">
	    select 
	        u.user_code,
	        u.user_nickname,
	        u.user_thumbnail_path,
	        u.user_nation,
	        u.user_gender,
	        u.user_birth,
	        u.user_logon,
     	    u.user_log_time,
	        u.user_log_location,
	        u.user_private
	    from _ringo_user u
	    left join _ringo_follow f on f.target_code = u.user_code
	    
	    where f.user_code = #{user_code}
	</select>
	
	<select id="selectFavoriteProfile" resultType="UserVO">
	    select 
	        u.user_code,
	        u.user_nickname,
	        u.user_thumbnail_path,
	        u.user_nation,
	        u.user_gender,
	        u.user_birth,
	        u.user_logon,
	        u.user_log_time,
	        u.user_log_location,
	        u.user_private
	    from _ringo_user u
	    left join _ringo_favorite f on f.target_code = u.user_code
	    
	    where f.user_code = #{user_code}
	</select>
	
	<insert id="insertFavorite">
		insert into _ringo_favorite values(#{user_code},#{target_code})
	</insert>
	
	<delete id="deleteFavorite">
		delete from _ringo_favorite where user_code = #{user_code} and target_code = #{target_code}
	</delete>
	
	<insert id="insertFollow">
		insert into _ringo_follow values(#{user_code},#{target_code},now())
	</insert>
	
	<delete id="deleteFollow">
		delete from _ringo_follow where user_code = #{user_code} and target_code = #{target_code}
	</delete>
	
	<insert id="insertRecomm">
		insert into _ringo_recomm values(#{user_code},#{target_code},now())
	</insert>
	
	<delete id="deleteRecomm">
		delete from _ringo_recomm where user_code = #{user_code} and target_code = #{target_code}
	</delete>
	
	<select id="selectUserEverything" resultType="UserVO">
		select * from _ringo_user where user_code = #{user_code}
	</select>
	
	<update id="updateUserInfo">
		update _ringo_user
	    set
        	user_pw = #{user_pw},
			user_nickname = #{user_nickname},
			user_tel = #{user_tel}, 
			user_email = #{user_email}, 
			user_address = #{user_address},
			user_native_lang = #{user_native_lang},
			user_fluent_lang = #{user_fluent_lang},
			user_learning_lang = #{user_learning_lang},
			user_intro = #{user_intro},
			user_ideal_partner = #{user_ideal_partner},
			user_objective = #{user_objective},
			user_topic = #{user_topic},
			user_interest = #{user_interest},
			user_correction_degree = #{user_correction_degree},
			user_usually_time = #{user_usually_time},
			user_method = #{user_method},
			user_thumbnail_path = #{user_thumbnail_path},
			user_profile_path = #{user_profile_path},
			user_private = #{user_private}
        where user_code = #{user_code}
    </update>
    
	<update id="updateUserlogOn">
		update _ringo_user
	    set
        	user_logon = #{user_logon},
        	user_log_location = #{user_log_location},
        	user_log_geolocation = #{user_log_geolocation},
        	user_log_time = now()
        where user_code = #{user_code}
    </update>
    
	<update id="updateUserlogOut">
		update _ringo_user
	    set
        	user_logon = #{user_logon},
        	user_log_time = now()
        where user_code = #{user_code}
    </update>
    
    <select id="selectUserPicture" resultType="UserVO">
    	select user_thumbnail_path, user_profile_path from _ringo_user where user_code = #{user_code}
    </select>
    
    <select id="selectConnectedUser" resultType="String">
    	select user_code
    	from _ringo_favorite
    	where target_code = #{user_code}
    	
    	union all
    	
    	select user_code
    	from _ringo_follow
    	where target_code = #{user_code}
    </select>
    
    <select id="selectTagsLink" resultType="UserVO">
    	select 
    		u.user_nickname,
    		u.user_nation,
    		u.user_birth,
    		u.user_native_lang,
    		u.user_fluent_lang,
    		u.user_learning_lang,
    		u.user_intro,
    		u.user_topic,
    		u.user_objective,
    		u.user_ideal_partner,
    		u.user_thumbnail_path,
    		u.user_profile_path,
    		a.user_tags
    	from _ringo_user u
    	left join _ringo_algorithm a on a.user_code = u.user_code
    	where 
	    	not exists (
	        select 1
	        from _ringo_follow fw
	        where fw.target_code = u.user_code and fw.user_code = #{user_code}
	    ) and 
	    	not exists (
	        select 1
	        from _ringo_favorite fv
	        where fv.target_code = u.user_code and fv.user_code = #{user_code}
	    ) and 
	    <foreach collection="tags" item="tag" open="(" close=")" separator="or">
	        a.user_tags like CONCAT('%', #{tag}, '%')
	    </foreach>
	     and u.user_code = #{user_code}
    </select>
    
    <select id="selectNearLink" resultType="UserVO">
    	select 
    		u.user_nickname,
    		u.user_nation,
    		u.user_birth,
    		u.user_native_lang,
    		u.user_fluent_lang,
    		u.user_learning_lang,
    		u.user_intro,
    		u.user_topic,
    		u.user_objective,
    		u.user_ideal_partner,
    		u.user_thumbnail_path,
    		u.user_profile_path,
    		a.user_tags,
    		6371 * acos(
		        cos(radians(#{user_latitude})) 
		        * cos(radians(cast(substring_index(u.user_log_geolocation, ',', 1) as decimal))) 
		        * cos(radians(cast(substring_index(u.user_log_geolocation, ',', -1) as decimal)) - radians(#{user_longitude})) 
		        + sin(radians(#{user_latitude})) 
		        * sin(radians(cast(substring_index(u.user_log_geolocation, ',', 1) as decimal)))
		    ) as distance
    	from _ringo_user u
    	left join _ringo_algorithm a on a.user_code = u.user_code
    	where 
	    	not exists (
	        select 1
	        from _ringo_follow fw
	        where fw.target_code = u.user_code and fw.user_code = #{user_code}
	    ) and 
	    	not exists (
	        select 1
	        from _ringo_favorite fv
	        where fv.target_code = u.user_code and fv.user_code = #{user_code}
	    ) and u.user_code = #{user_code}
	    order by distance asc limit 10;
    </select>
	
</mapper>  