<!-- <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ringo.mapper.WorkflowMapper">
	
	워크플로우 상세
	<select id="getWorkflow" parameterType="String" resultType="WorkflowVO">
	  select 
	    wf.*,
	    emp1.emp_name as sender_name, emp1.emp_dnum as sender_dnum, emp1.emp_profile as sender_profile,
	    emp1.emp_bnum as sender_bnum, emp1.emp_position as sender_position, emp1.emp_job as sender_job, d1.dname as sender_dname,
	    emp2.emp_name as receiver_name, emp2.emp_dnum as receiver_dnum, emp2.emp_profile as receiver_profile,
	    emp2.emp_bnum as receiver_bnum, emp2.emp_position as receiver_position, emp2.emp_job as receiver_job, d2.dname as receiver_dname,
	    emp3.emp_name as receiver_name_1st, emp3.emp_dnum as receiver_dnum_1st, emp3.emp_profile as receiver_profile_1st,
	    emp3.emp_bnum as receiver_bnum_1st, emp3.emp_position as receiver_position_1st, emp3.emp_job as receiver_job_1st, d3.dname as receiver_dname_1st,
		emp4.emp_name as receiver_name_2nd, emp4.emp_dnum as receiver_dnum_2nd, emp4.emp_profile as receiver_profile_2nd,
		emp4.emp_bnum as receiver_bnum_2nd, emp4.emp_position as receiver_position_2nd, emp4.emp_job as receiver_job_2nd, d4.dname as receiver_dname_2nd,
		emp5.emp_name as receiver_name_3rd, emp5.emp_dnum as receiver_dnum_3rd, emp5.emp_profile as receiver_profile_3rd,
		emp5.emp_bnum as receiver_bnum_3rd, emp5.emp_position as receiver_position_3rd, emp5.emp_job as receiver_job_3rd, d5.dname as receiver_dname_3rd
		
	    from workflow wf
	    join employee emp1 on wf.wf_sender = emp1.emp_id and emp1.approval = 0
	    join dept d1 on emp1.emp_dnum = d1.dnum
	    join employee emp2 on wf.wf_receiver = emp2.emp_id and emp2.approval = 0
	    join dept d2 on emp2.emp_dnum = d2.dnum
	    join employee emp3 on wf.wf_receiver_1st = emp3.emp_id and emp3.approval = 0
	    join dept d3 on emp3.emp_dnum = d3.dnum
	    left join employee emp4 on wf.wf_receiver_2nd = emp4.emp_id and emp4.approval = 0
	    left join dept d4 on emp4.emp_dnum = d4.dnum
	    left join employee emp5 on wf.wf_receiver_3rd = emp5.emp_id and emp5.approval = 0
	    left join dept d5 on emp5.emp_dnum = d5.dnum
	    where wf.wf_code = #{wf_code}
	</select>
	
	보낸 워크플로우 목록
	<select id="getSentWorkflowList" parameterType="WorkflowVO" resultType="WorkflowVO">
		select * , 
		 emp.emp_name as receiver_name, emp.emp_bnum as receiver_bnum, emp.emp_dnum as receiver_dnum, emp.emp_position as receiver_position, emp.emp_profile as receiver_profile, emp.emp_job as receiver_job
		 from workflow wf
		 join employee emp on wf.wf_receiver = emp.emp_id and emp.approval = 0
		 where wf_sender=#{wf_sender} and wf_status=#{wf_status}
	</select>
	
	받은 워크플로우 목록
	<select id="getReceivedWorkflowList" parameterType="WorkflowVO" resultType="WorkflowVO">
		select * ,
		 emp.emp_name as sender_name, emp.emp_bnum as sender_bnum, emp.emp_dnum as sender_dnum, emp.emp_position as sender_position, emp.emp_profile as sender_profile, emp.emp_job as sender_job
		 from workflow wf
		 join employee emp on wf.wf_sender = emp.emp_id and emp.approval = 0
		 where wf_receiver=#{wf_receiver} and wf_status=#{wf_status}
	</select>
	
	워크플로우 응답
	<update id="responseWorkflow" parameterType="WorkflowVO">
		update workflow
		 set 
				<choose>
		            <when test="wf_progress='1'">
		            	<choose>
		            		<when test="wf_receiver_2nd != null">
		            			<choose>
		            				<when test="wf_result = '1'">
		            					wf_progress='2'
					         		     ,wf_result_1st=#{wf_result}
					          		     ,wf_comment_1st=#{wf_comment} 
					         		     ,wf_last_result_date=now()
					         		     ,wf_result_date_1st=now()
										 ,wf_receiver=#{wf_receiver_2nd}
										 ,wf_sender_alarm_token = '1'
										 ,wf_receiver_alarm_token = '1'
		            				</when>
		            				<when test="wf_result = '0'">
		            					wf_progress='0'
				            			 ,wf_result=#{wf_result} 
							             ,wf_result_1st=#{wf_result}
							             ,wf_comment_1st=#{wf_comment}
							             ,wf_last_result_date=now() 
				               			 ,wf_result_date=now() 
							             ,wf_result_date_1st=now()
				                		 ,wf_status='0' 
				                		 ,wf_sender_alarm_token = '1'
										 ,wf_receiver_alarm_token = '1'
		            				</when>
		            				<when test="wf_result = '2'">
					         		     wf_result_1st=#{wf_result}
					          		     ,wf_comment_1st=#{wf_comment} 
					          		     ,wf_last_result_date=now()
					         		     ,wf_result_date_1st=now()
					         		     ,wf_sender_alarm_token = '1'
										 ,wf_receiver_alarm_token = '1'
		            				</when>
		            				<otherwise>
		           					</otherwise>
		            			</choose>
		            		</when>
		            		<when test="wf_receiver_2nd == null">
		                		 <choose>
		                		 	<when test="wf_result = '1' or wf_result = '0'">
									    wf_progress='0'
				            			 ,wf_result=#{wf_result} 
							             ,wf_result_1st=#{wf_result}
							             ,wf_comment_1st=#{wf_comment} 
							             ,wf_last_result_date=now()
				               			 ,wf_result_date=now() 
							             ,wf_result_date_1st=now()
				                		 ,wf_status='0'
				                		 ,wf_sender_alarm_token = '1'
										 ,wf_receiver_alarm_token = '1'
									</when>
		            				<when test="wf_result = '2'">
					         		     wf_result_1st=#{wf_result}
					          		     ,wf_comment_1st=#{wf_comment} 
					          		     ,wf_last_result_date=now()
					         		     ,wf_result_date_1st=now()
					         		     ,wf_sender_alarm_token = '1'
										 ,wf_receiver_alarm_token = '1'
		            				</when>
		            				<otherwise>
		           					</otherwise>
		            			</choose>
		            		</when>
		            		<otherwise>
		           			</otherwise>
		            	</choose>
		            </when>
		            
		            <when test="wf_progress='2'">
		            	<choose>
		            		<when test="wf_receiver_3nd != null">
		            			<choose>
		            				<when test="wf_result = '1'">
		            					wf_progress='3'
					         		     ,wf_result_2nd=#{wf_result}
					          		     ,wf_comment_2nd=#{wf_comment} 
					          		     ,wf_last_result_date=now()
					         		     ,wf_result_date_2nd=now()
										 ,wf_receiver=#{wf_receiver_3rd}
										 ,wf_sender_alarm_token = '1'
										 ,wf_receiver_alarm_token = '1'
		            				</when>
		            				<when test="wf_result = '0'">
		            					wf_progress='0'
				            			 ,wf_result=#{wf_result} 
							             ,wf_result_2nd=#{wf_result}
							             ,wf_comment_2nd=#{wf_comment} 
							             ,wf_last_result_date=now()
				               			 ,wf_result_date=now() 
							             ,wf_result_date_2nd=now()
				                		 ,wf_status='0'
				                		 ,wf_sender_alarm_token = '1'
										 ,wf_receiver_alarm_token = '1'
		            				</when>
		            				<when test="wf_result = '2'">
					         		     wf_result_2nd=#{wf_result}
					          		     ,wf_comment_2nd=#{wf_comment} 
					          		     ,wf_last_result_date=now()
					         		     ,wf_result_date_2nd=now()
					         		     ,wf_sender_alarm_token = '1'
										 ,wf_receiver_alarm_token = '1'
		            				</when>
		            				<otherwise>
		           					</otherwise>
		            			</choose>
		            		</when>
		            		<when test="wf_receiver_3nd == null">
		            			<choose>
		                		 	<when test="wf_result = '1' or wf_result = '0'">
									    wf_progress='0'
				            			 ,wf_result=#{wf_result} 
							             ,wf_result_2nd=#{wf_result}
							             ,wf_comment_2nd=#{wf_comment} 
							             ,wf_last_result_date=now()
				               			 ,wf_result_date=now() 
							             ,wf_result_date_2nd=now()
				                		 ,wf_status='0' 
				                		 ,wf_sender_alarm_token = '1'
										 ,wf_receiver_alarm_token = '1'
									</when>
		            				<when test="wf_result = '2'">
					         		     wf_result_2nd=#{wf_result}
					          		     ,wf_comment_2nd=#{wf_comment} 
					          		     ,wf_last_result_date=now()
					         		     ,wf_result_date_2nd=now()
					         		     ,wf_sender_alarm_token = '1'
										 ,wf_receiver_alarm_token = '1'
		            				</when>
		            				<otherwise>
		           					</otherwise>
		            			</choose>
		            		</when>
		            		<otherwise>
		           			</otherwise>
		            	</choose>
		            </when>
		            
		            <when test="wf_progress='3'">
		                <choose>
                		 	<when test="wf_result = '1' or wf_result = '0'">
							    wf_progress='0'
		            			 ,wf_result=#{wf_result} 
					             ,wf_result_3rd=#{wf_result}
					             ,wf_comment_3rd=#{wf_comment} 
					             ,wf_last_result_date=now()
		               			 ,wf_result_date=now() 
					             ,wf_result_date_3rd=now()
		                		 ,wf_status='0' 
		                		 ,wf_sender_alarm_token = '1'
							</when>
            				<when test="wf_result = '2'">
			         		     wf_result_3rd=#{wf_result}
			          		     ,wf_comment_3rd=#{wf_comment} 
			          		     ,wf_last_result_date=now()
			         		     ,wf_result_date_3rd=now()
			         		     ,wf_sender_alarm_token = '1'
            				</when>
            				<otherwise>
           					</otherwise>
            			</choose>
		            </when>

		            <otherwise>
		            </otherwise>

		        </choose>
		        
		  where wf_code=#{wf_code}
	</update>
	
	실시간 알람이 필요한 보낸 워크플로우
	<select id="realtimeAlarmSentWorkflow" parameterType="String" resultType="WorkflowVO">
	  select 
	    wf.*, 
	    emp1.emp_name as sender_name, emp1.emp_dnum as sender_dnum, emp1.emp_profile as sender_profile,
	    emp1.emp_bnum as sender_bnum, emp1.emp_position as sender_position, emp1.emp_job as sender_job, d1.dname as sender_dname,
	    emp2.emp_name as receiver_name, emp2.emp_dnum as receiver_dnum, emp2.emp_profile as receiver_profile,
	    emp2.emp_bnum as receiver_bnum, emp2.emp_position as receiver_position, emp2.emp_job as receiver_job, d2.dname as receiver_dname,
	    emp3.emp_name as receiver_name_1st, emp3.emp_dnum as receiver_dnum_1st, emp3.emp_profile as receiver_profile_1st,
	    emp3.emp_bnum as receiver_bnum_1st, emp3.emp_position as receiver_position_1st, emp3.emp_job as receiver_job_1st, d3.dname as receiver_dname_1st,
		emp4.emp_name as receiver_name_2nd, emp4.emp_dnum as receiver_dnum_2nd, emp4.emp_profile as receiver_profile_2nd,
		emp4.emp_bnum as receiver_bnum_2nd, emp4.emp_position as receiver_position_2nd, emp4.emp_job as receiver_job_2nd, d4.dname as receiver_dname_2nd,
		emp5.emp_name as receiver_name_3rd, emp5.emp_dnum as receiver_dnum_3rd, emp5.emp_profile as receiver_profile_3rd,
		emp5.emp_bnum as receiver_bnum_3rd, emp5.emp_position as receiver_position_3rd, emp5.emp_job as receiver_job_3rd, d5.dname as receiver_dname_3rd
	    from workflow wf
	  
	    join employee emp1 on wf.wf_sender = emp1.emp_id and emp1.approval = 0
	    join dept d1 on emp1.emp_dnum = d1.dnum
	    join employee emp2 on wf.wf_receiver = emp2.emp_id and emp2.approval = 0
	    join dept d2 on emp2.emp_dnum = d2.dnum
	    join employee emp3 on wf.wf_receiver_1st = emp3.emp_id and emp3.approval = 0
	    join dept d3 on emp3.emp_dnum = d3.dnum
	    left join employee emp4 on wf.wf_receiver_2nd = emp4.emp_id and emp4.approval = 0
	    left join dept d4 on emp4.emp_dnum = d4.dnum
	    left join employee emp5 on wf.wf_receiver_3rd = emp5.emp_id and emp5.approval = 0
	    left join dept d5 on emp5.emp_dnum = d5.dnum
	    where wf_sender=#{emp_id} and wf_sender_alarm_token='1'
	</select>
	
	실시간 알람이 필요한 받은 워크플로우
	<select id="realtimeAlarmReceivedWorkflow" parameterType="String" resultType="WorkflowVO">
	  select 
	    wf.*, 
	    emp1.emp_name as sender_name, emp1.emp_dnum as sender_dnum, emp1.emp_profile as sender_profile,
	    emp1.emp_bnum as sender_bnum, emp1.emp_position as sender_position, emp1.emp_job as sender_job, d1.dname as sender_dname,
	    emp2.emp_name as receiver_name, emp2.emp_dnum as receiver_dnum, emp2.emp_profile as receiver_profile,
	    emp2.emp_bnum as receiver_bnum, emp2.emp_position as receiver_position, emp2.emp_job as receiver_job, d2.dname as receiver_dname,
	    emp3.emp_name as receiver_name_1st, emp3.emp_dnum as receiver_dnum_1st, emp3.emp_profile as receiver_profile_1st,
	    emp3.emp_bnum as receiver_bnum_1st, emp3.emp_position as receiver_position_1st, emp3.emp_job as receiver_job_1st, d3.dname as receiver_dname_1st,
		emp4.emp_name as receiver_name_2nd, emp4.emp_dnum as receiver_dnum_2nd, emp4.emp_profile as receiver_profile_2nd,
		emp4.emp_bnum as receiver_bnum_2nd, emp4.emp_position as receiver_position_2nd, emp4.emp_job as receiver_job_2nd, d4.dname as receiver_dname_2nd,
		emp5.emp_name as receiver_name_3rd, emp5.emp_dnum as receiver_dnum_3rd, emp5.emp_profile as receiver_profile_3rd,
		emp5.emp_bnum as receiver_bnum_3rd, emp5.emp_position as receiver_position_3rd, emp5.emp_job as receiver_job_3rd, d5.dname as receiver_dname_3rd
	    from workflow wf
	  
	    join employee emp1 on wf.wf_sender = emp1.emp_id and emp1.approval = 0
	    join dept d1 on emp1.emp_dnum = d1.dnum
	    join employee emp2 on wf.wf_receiver = emp2.emp_id and emp2.approval = 0
	    join dept d2 on emp2.emp_dnum = d2.dnum
	    join employee emp3 on wf.wf_receiver_1st = emp3.emp_id and emp3.approval = 0
	    join dept d3 on emp3.emp_dnum = d3.dnum
	    left join employee emp4 on wf.wf_receiver_2nd = emp4.emp_id and emp4.approval = 0
	    left join dept d4 on emp4.emp_dnum = d4.dnum
	    left join employee emp5 on wf.wf_receiver_3rd = emp5.emp_id and emp5.approval = 0
	    left join dept d5 on emp5.emp_dnum = d5.dnum
	    where wf_receiver=#{emp_id} and wf_receiver_alarm_token='1' and wf_status='1'
	</select>
	
	보낸 워크플로우 로그인알람
	<select id="loginAlarmSentWorkflow" parameterType="String" resultType="WorkflowVO">
	  select 
	    wf.*, 
	    emp1.emp_name as sender_name, emp1.emp_dnum as sender_dnum, emp1.emp_profile as sender_profile,
	    emp1.emp_bnum as sender_bnum, emp1.emp_position as sender_position, emp1.emp_job as sender_job, d1.dname as sender_dname,
	    emp2.emp_name as receiver_name, emp2.emp_dnum as receiver_dnum, emp2.emp_profile as receiver_profile,
	    emp2.emp_bnum as receiver_bnum, emp2.emp_position as receiver_position, emp2.emp_job as receiver_job, d2.dname as receiver_dname,
	    emp3.emp_name as receiver_name_1st, emp3.emp_dnum as receiver_dnum_1st, emp3.emp_profile as receiver_profile_1st,
	    emp3.emp_bnum as receiver_bnum_1st, emp3.emp_position as receiver_position_1st, emp3.emp_job as receiver_job_1st, d3.dname as receiver_dname_1st,
		emp4.emp_name as receiver_name_2nd, emp4.emp_dnum as receiver_dnum_2nd, emp4.emp_profile as receiver_profile_2nd,
		emp4.emp_bnum as receiver_bnum_2nd, emp4.emp_position as receiver_position_2nd, emp4.emp_job as receiver_job_2nd, d4.dname as receiver_dname_2nd,
		emp5.emp_name as receiver_name_3rd, emp5.emp_dnum as receiver_dnum_3rd, emp5.emp_profile as receiver_profile_3rd,
		emp5.emp_bnum as receiver_bnum_3rd, emp5.emp_position as receiver_position_3rd, emp5.emp_job as receiver_job_3rd, d5.dname as receiver_dname_3rd
	    from workflow wf
	  
	    join employee emp1 on wf.wf_sender = emp1.emp_id and emp1.approval = 0
	    join dept d1 on emp1.emp_dnum = d1.dnum
	    join employee emp2 on wf.wf_receiver = emp2.emp_id and emp2.approval = 0
	    join dept d2 on emp2.emp_dnum = d2.dnum
	    join employee emp3 on wf.wf_receiver_1st = emp3.emp_id and emp3.approval = 0
	    join dept d3 on emp3.emp_dnum = d3.dnum
	    left join employee emp4 on wf.wf_receiver_2nd = emp4.emp_id and emp4.approval = 0
	    left join dept d4 on emp4.emp_dnum = d4.dnum
	    left join employee emp5 on wf.wf_receiver_3rd = emp5.emp_id and emp5.approval = 0
	    left join dept d5 on emp5.emp_dnum = d5.dnum
	    where wf_sender=#{emp_id} and wf_sender_alarm_token='1'
	</select>
	
	받은 워크플로우 로그인알람
	<select id="loginAlarmReceivedWorkflow" parameterType="String" resultType="WorkflowVO">
	  select 
	    wf.*, 
	    emp1.emp_name as sender_name, emp1.emp_dnum as sender_dnum, emp1.emp_profile as sender_profile,
	    emp1.emp_bnum as sender_bnum, emp1.emp_position as sender_position, emp1.emp_job as sender_job, d1.dname as sender_dname,
	    emp2.emp_name as receiver_name, emp2.emp_dnum as receiver_dnum, emp2.emp_profile as receiver_profile,
	    emp2.emp_bnum as receiver_bnum, emp2.emp_position as receiver_position, emp2.emp_job as receiver_job, d2.dname as receiver_dname,
	    emp3.emp_name as receiver_name_1st, emp3.emp_dnum as receiver_dnum_1st, emp3.emp_profile as receiver_profile_1st,
	    emp3.emp_bnum as receiver_bnum_1st, emp3.emp_position as receiver_position_1st, emp3.emp_job as receiver_job_1st, d3.dname as receiver_dname_1st,
		emp4.emp_name as receiver_name_2nd, emp4.emp_dnum as receiver_dnum_2nd, emp4.emp_profile as receiver_profile_2nd,
		emp4.emp_bnum as receiver_bnum_2nd, emp4.emp_position as receiver_position_2nd, emp4.emp_job as receiver_job_2nd, d4.dname as receiver_dname_2nd,
		emp5.emp_name as receiver_name_3rd, emp5.emp_dnum as receiver_dnum_3rd, emp5.emp_profile as receiver_profile_3rd,
		emp5.emp_bnum as receiver_bnum_3rd, emp5.emp_position as receiver_position_3rd, emp5.emp_job as receiver_job_3rd, d5.dname as receiver_dname_3rd
	    from workflow wf
	  
	    join employee emp1 on wf.wf_sender = emp1.emp_id and emp1.approval = 0
	    join dept d1 on emp1.emp_dnum = d1.dnum
	    join employee emp2 on wf.wf_receiver = emp2.emp_id and emp2.approval = 0
	    join dept d2 on emp2.emp_dnum = d2.dnum
	    join employee emp3 on wf.wf_receiver_1st = emp3.emp_id and emp3.approval = 0
	    join dept d3 on emp3.emp_dnum = d3.dnum
	    left join employee emp4 on wf.wf_receiver_2nd = emp4.emp_id and emp4.approval = 0
	    left join dept d4 on emp4.emp_dnum = d4.dnum
	    left join employee emp5 on wf.wf_receiver_3rd = emp5.emp_id and emp5.approval = 0
	    left join dept d5 on emp5.emp_dnum = d5.dnum
	    where wf_receiver=#{emp_id} and wf_status='1'
	</select>
	
	실시간 알람 발송시 체크
	<update id="workflowSenderAlarmCheck" parameterType="String">
		update workflow set wf_sender_alarm_token = '0' where wf_code=#{wf_code}
	</update>
	
	<update id="workflowReceiverAlarmCheck" parameterType="String">
		update workflow set wf_receiver_alarm_token = '0' where wf_code=#{wf_code}
	</update>
	
	small alarm
	<select id="smallAlarm" parameterType="String" resultType="int">
	  	select count(*) 
		 from workflow 
		 where wf_receiver = #{emp_id} 
		 and wf_status = '1'
	</select>
	
	<select id="getCalendarWorkflow" resultType="WorkflowVO">
	 select * from workflow 
	  where (wf_sender = #{emp_id} or
        wf_receiver_1st = #{emp_id} or 
        wf_receiver_2nd = #{emp_id} or 
        wf_receiver_3rd = #{emp_id})
        and wf_create_date between #{startDate} and #{endDate};
	</select>
	
</mapper> -->