@charset "UTF-8";

/* fonts start */
/* normal */
@font-face {
    font-family: 'a_Gothic';
    src: url('../fonts/a_Gothic13.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* bold */
@font-face {
    font-family: 'a_Gothic';
    src: url('../fonts/a_Gothic16.ttf') format('truetype'); 
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.shrinking {
	width: 0px !important;
	overflow: hidden !important;
	opacity: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    flex-shrink : 1 !important;
}

/* 전체 스크롤바 */
::-webkit-scrollbar {
    width: 5px; /* 세로 스크롤바의 너비 */
    height: 5px; /* 가로 스크롤바의 높이 */
}

/* 스크롤바 배경 */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* 스크롤바의 배경색 */
    border-radius: 6px; /* 테두리 둥글게 */
}

/* 스크롤바 핸들 */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); /* 핸들의 배경색 */
    border-radius: 6px; /* 핸들의 테두리 둥글게 */
}

/* 핸들이 hover될 때 */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7); /* 핸들의 hover 색상 */
}
*:not(i){
	font-family: 'a_Gothic' !important;
	color: black;
	font-size:14px;
}
*{
	transition: width 0.3s ease-in-out, 
				opacity 0.3s ease-in-out, 
				transform 0.3s ease-in-out, 
				background 0.3s ease-in-out, 
				color 0.3s ease-in-out,
				margin 0.3s ease-in-out,
				padding 0.3s ease-in-out,
				transform 0.3s ease-in-out,
				flex-grow 0.3s ease-in-out,
				z-index 0.3s ease-in-out;
}
*:focus {
	outline: none;
}
a {
    color: inherit;
    text-decoration: none;
}
img{
	object-fit: cover;
}

.none{
	display:none !important;
}

.icons {
    width: 15px; 
    height: 15px; 
    border-radius: 5px; 
    object-fit: cover;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
    padding: 7px;
    margin-bottom:5px;
}
.flags {
     width: 20px; 
     height: 20px; 
     border-radius: 5px; 
     object-fit: cover;
     box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
     padding: 3px;
     margin:5px;
}

div{
	box-sizing: border-box;
	display:flex;
	justify-content: center;
	align-items: center;
}

.input_wrapper {
	display: flex;
	height:100%;
  	margin-left:auto;
	margin-right:10px;
	height:100%;
	border:none;
	border-bottom:1px solid rgba(0,0,0,0.1);
	justify-content: flex-start;
	align-content: center;
}

.input_icon {
	color: rgba(0,0,0,0.3);
	font-size: 14px;
	padding:0px 0px 0px 10px;
}

.input_wrapper input {
	height:28px;
	border:none;
	max-width:200px;
	padding:0px;
}
span{
	display:flex;
	justify-content: center;
	align-items: center;
}

input[type="submit"]{
	width:100%;
	border-radius:5px;
	background-color: white;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
	height:40px;
	margin-top:10px;
	border:none;
}

.custom_button{
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius:5px;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
	margin: 5px 0px;
	background-color: white;
	height:40px;
	border:none;
}

.scroll_box{
	height:100%;
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius:5px;
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
	background-color: rgba(230,230,230,0.1);
	flex-shrink:1;
}

.scroll_box_inner{
	height:calc(100% - 15px);
	width:100%;
	display:flex;
	flex-direction: column;
	overflow-y: auto;
	justify-content: flex-start;
	flex-direction:column;
	align-items: center;
	padding:10px 20px;
}

.left_navbar{
	height: 100vh; /* 네비게이션 바가 화면 전체 높이를 차지하도록 */
	width: 50px; /* 네비게이션 바의 너비 */
	display: flex;
	flex-direction: column; /* 세로로 나열되게 */
	position: fixed; /* 화면에 고정 */
	top: 0;
	left: 0;
	background-color: rgba(20, 20, 20);
	align-items: center; /* 가로로 중앙 정렬 */
	padding-top: 20px; /* 상단 여백 */
	z-index: 1;
}

.right_navbar{
	height: 100vh;
	width: 50px; /* 네비게이션 바의 너비 */
	display: flex;
	flex-direction: column; /* 세로로 나열되게 */
	position: fixed; /* 화면에 고정 */
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.9);
	align-items: center; /* 가로로 중앙 정렬 */
	padding-top: 20px; /* 상단 여백 */
	z-index: 1;
}

.top_navbar{
	height: 30px;
	width: 100%;
	display: flex;
	position: fixed;
	top: 0;
	background-color: rgba(0, 0, 0, 0.1);
	justify-content: flex-end;
	align-content: center;
	z-index: 0;
}

.navbar ul:not(.top_navbar ul){
	margin:0;
	padding:0;
	display: flex; 
	flex-direction: column;
	list-style: none; 
	justify-content: center;
	align-content: center;
}

.navbar li{
	display: flex; 
	justify-content: center;
	align-content: center;
	padding : 15px 20px;
	flex-wrap: wrap;
}

.navbar span{
	display: flex; 
	justify-content: center;
	align-content: center;
	padding:0;
	margin:0;
}

.top_navbar ul{
	margin:0;
	padding:0;
	display: flex; 
	list-style: none; 
	justify-content: center;
	align-content: center;
}

.navbar i:not(.top_navbar i){
	color:white;
	font-size:15px;
}

button:not(.custom_button){
	background: transparent;
    border: none;          
    cursor: pointer;       
    outline: none;         
}

.box {
	text-align: center;
}

/* 로그인 페이지 시작*/
.login_container {
	display: grid;
	grid-template-columns: 1fr auto;
	width: 100%; /* 부모 요소 크기 100% */
	gap: 0;
	height:95vh;
	margin-top:30px;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.login_img_container {
	height:95vh;
	background-color: rgba(0,0,0,0.9);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    width:100%;
}

.login_img_section {
    overflow: hidden;
	height:800px;
    width:100%;
    background-color: rgba(0,0,0,0.1);
}

.login_img_section img{
	width: 100%;
    height: 100%;
    object-fit: contain;
}

.login_section{
	padding:20px;
	height:95vh;
	width:400px;
	display:flex;
	flex-direction: column;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.2);
	justify-content: flex-start;
	align-content: center;
}

.login_banner{
	display:flex;
	flex-direction: column;
	height:300px;
	justify-content: center;
	align-content: center;
	width:100%;
}

.login_banner img{
	width: 60%;
    height: 60%;
    object-fit: contain;
}

.login_inputs{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	width:100%;
}

.login_container .input_cell{
	width:100%;
	display:flex;
	justify-content: flex-start;
	align-content: center;
	border-radius:5px;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3);
	margin: 3px 0px;
}

.login_container .input_name{
	display:flex;
	justify-content: center;
	align-items: center;
	width:100px;
	border:none;
	border-right:1px solid rgba(0,0,0,0.1);
	margin:5px 0px;
	font-size:12px;
}

.login_container .input_value{
	flex-grow: 1;
	border:none;
	font-size:12px;
}

.login_container input:not([type="submit"]){
	box-sizing: border-box;
	height: 30px;
	width: calc(100% - 20px);
	justify-content: flex-start;
	align-content: center;
	border : none;
	margin:5px 10px;
}

.sns_login{
	margin-top:30px;
	padding-top:30px;
	display:flex;
	flex-direction: column;
	width:100%;
	justify-content: flex-end;
	align-content: center;
	border-top : 1px solid rgba(0,0,0,0.1);
}
.sns_login button{
	width:280px;
}

.join_container{
	display:flex;
	justify-content: center;
	align-content: center;
	margin-top:30px;
}

.join_container .box{
	margin:50px;
	width:600px;
	border-radius:5px;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* 로그인 페이지 종료*/

/* 회원가입 페이지 시작*/
.join_container .input_cell{
	width:100%;
	display:flex;
	justify-content: flex-start;
	align-content: center;
	border-radius:5px;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
	margin: 3px 0px;
}

.join_container .input_name{
	display:flex;
	justify-content: center;
	align-items: center;
	width:100px;
	border:none;
	border-right:1px solid;
	margin:5px 0px;
	font-size:12px;
}

.join_container .input_value{
	flex-grow: 1;
	border:none;
	font-size:12px;
}

.join_container input:not([type="submit"]){
	box-sizing: border-box;
	height: 30px;
	width: calc(100% - 20px);
	justify-content: flex-start;
	align-content: center;
	border : none;
	margin:5px 10px;
}
/* 회원가입 페이지 종료*/

.main_container{
	margin-left:60px;
	margin-top:40px;
	height:94vh;
	width:calc(100vw - 90px); 
	overflow-x: hidden;
	box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.2);
	background: linear-gradient(to bottom, rgba(0,0,0,0.8) 25px, transparent 25px);
    padding-top: 25px;
    display:flex;
    flex-direction:row;
}
.main_container .left_container,.right_container{
	height:100%;
	z-index:1;
	display:flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
	width:auto;
	overflow-x: hidden;
	overflow-y: hidden;
	flex-shrink: 0;
	padding:0px;
}
.profile_container{
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-grow:1;
	height:100%;
	width:300px;
	overflow-x: hidden;
	overflow-y: hidden;
	flex-shrink:0;
	padding:20px;
}
.profile_container_head{
	width:100%;
	display:flex;
	flex:0.3 0 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.profile_container_head_basic{
	width:100%;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-contents: center;
	padding-bottom:10px;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
.profile_container_head_basic_user_name{
	font-size:20px;
}
.profile_container_head_basic_user_nation{
	font-size:13px;
}
.profile_container_head_tools{
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width:100%;
	padding:10px 0px;
	height:70px;
}
.profile_container_head_tool{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:100%;
	font-size:12px;
}
.profile_container_body{
	width:100%;
	display:flex;
	flex:0.7 0 0;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-height: calc(100vh - 390px);
}
.user_languages{
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	width:100%;
	border-bottom:1px solid rgba(0,0,0,0.1);
}
.user_language{
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	width:100%;
	margin-bottom:10px;
	border-radius: 5px;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
	padding:5px;
}
.user_language_type{
	padding-left:10px;
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	width:100%;
	border-bottom:1px solid rgba(0,0,0,0.1);
	font-size:12px;
}
.user_language_name{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	width:100%;
	font-size:12px;
}
.user_infos{
	width:100%;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top:10px;
}
.user_info_box{
	width:100%;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border-radius: 5px;
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
	margin-bottom:10px;
	padding:5px;
}
.user_info_title{
	padding-left:10px;
	width:100%;
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	border-bottom:1px solid rgba(0,0,0,0.1);
	font-size:12px;
}
.user_info_content{
	padding-top:5px;
	width:100%;
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	font-size:11px;
}
.detail_profile_container{
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-grow:1;
	height:100%;
	padding:10px 10px 20px 0px;
	width:300px;	
	overflow-y:auto;	
	flex-shrink : 0;
}
.detail_profile_container_menus{
	height:40px !important;
	width:100%;
	gap:5px;
	padding:0px 0px 10px 0px;
}

.detail_profile_container_menus div {
	flex-grow: 1;
	text-align: center;
	height:100%;
	border-radius: 5px;
	background-color: white;
}
.detail_profile_container_menus span {
	display:flex;
	justify-content: center;
	align-items: center;
	font-size:10px;
}
.detail_profile_container_menus div:first-child {
    box-shadow: 3px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.detail_profile_container_menus div:last-child {
    box-shadow: -3px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.detail_profile_container_menus div:not(:first-child):not(:last-child) {
    box-shadow: -3px 3px 3px -2px rgba(0, 0, 0, 0.2), 3px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 3px -2px rgba(0, 0, 0, 0.2);
}

.detail_profile_container_menus div.clicked {
    background-color: rgba(230,230,230,0.1);
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.8) !important;
    font-weight:bold;
}
.detail_profile_container_body{
	width:100%;
	flex: 1 0 0;
}
.detail_profile_content{
	width:100%;
	height:100%;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
}
.alarm_container{
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	flex-grow:1;
	height:100%;
	width:300px;
	flex-shrink : 0;
	overflow-x: hidden;
	padding:20px;
}

/* 알람 컨테이너 바디에 이런식으로 max-height: calc(100vh - 390px); */

.container_side_button_section{
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	width:20px;
	color:rgba(0,0,0,0.2);
	font-size:14px;
	background-color: rgba(200,200,200,0.1);
}
.messenger_button{
	background-color: white !important;
}

.main_container .center_container{
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1);
	z-index:0;
	background-color: rgba(200, 200, 200, 0.8);
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height:100%;
	flex-grow: 1;
	max-width:1490px;
	overflow-x: hidden;
}
.article_container_menu{
	height:40px !important;
	width:100%;
	gap:5px;
	padding:5px 20px 0px 20px;
}

.article_container_menu div {
	flex-grow: 1;
	text-align: center;
	height:100%;
	border-radius: 5px;
	background-color: white;
}

.article_container_menu span {
	display:flex;
	justify-content: center;
	align-items: center;
	margin-left:30px;
	font-size:12px;
}

.article_container_menu div:first-child {
    box-shadow: 3px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.article_container_menu div:last-child {
    box-shadow: -3px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
}

.article_container_menu div:not(:first-child):not(:last-child) {
    box-shadow: -3px 3px 3px -2px rgba(0, 0, 0, 0.2), 3px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 3px -2px rgba(0, 0, 0, 0.2);
}

.article_container_menu div.clicked {
    background-color: rgba(230,230,230,0.1);
    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.8) !important;
    font-weight:bold;
}

.container_contents{
	display:flex;
	height: calc(100% - 40px);
	width:100%;
	padding:10px;
}
.container_contents_title{
	width:100%;
	display:flex;
	justify-content: flex-start;
	align-items: center;
	padding:5px 0px 5px 20px;
	height:40px;
}
.container_contents_title i{
	margin-right:10px;
}
.container_contents_body{
	height: 100%;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-grow:1;
	padding:0px 10px 20px 10px;
	margin:10px;
	border-radius:5px;
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
	background-color: white;
}

/* messneger start */
.main_messenger{
	height: 100%;
	padding:20px 10px 20px 0px;
	display:flex;
	flex-direction: row;
	margin:10px;
	border-radius:5px;
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
	background-color: white;
	width: 400px;
	flex-shrink : 0;
}

.main_messenger_menu{
	height: 100%;
	width: 220px;
	border-radius:5px;
	margin-right:10px;
	flex-shrink : 0;
}

.main_messenger_menu .scroll_box_inner{
	padding:10px;
}

.main_messenger_body{
	height: 100%;
	width: 370px;
	border-radius:5px;
	display:flex;
	flex-direction: column;
	overflow: hidden;
}
.messenger_navbar{
	width:100%;
	height:50px;
	flex-shrink: 0;
	display:flex;
	background-color: rgba(0,0,0,0.8);
}
.messenger_navbar_back{
	height:100%;
	flex-grow:0.1;
	color:white;
}
.messenger_navbar_name{
	height:100%;
	flex-grow:0.8;
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-content: flex-start;
	padding-left:20px;
	color:white;
}
.messenger_navbar_menu{
	height:100%;
	flex-grow:0.1;
	color:white;
}
.messenger_content{
	width:100%;
	flex-grow:1;
	overflow-y:auto;
	display:flex;
	flex-direction:column;
	align-content:center;
	justify-content: flex-start;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1);
	background-color: white;
}
.message_box_received{
	width:100%;
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: flex-start;
	padding:5px 10px;
	flex-shrink: 0;
}
.message_box_send{
	width:100%;
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	align-content: flex-end;
	padding:5px 10px;
	flex-shrink: 0;
}
.message_sender_thumbnail{
	margin-right:10px;
	height:100%;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	padding-top:20px;
}
.message_sender_name{
	display:flex;
	width:100%;
	flex-direction: row;
	justify-content: flex-start;
}
.message_info{
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
}
.message_body{
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	align-content: flex-end;
	border-radius:5px;
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.message_content{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	min-width:120px;
	min-height:30px;
	max-width:280px;
	max-height:800px;
	padding:10px;
	font-size:13px;
	white-space: pre-wrap;
}
.message_time{
	width:100%;
	display:flex;
	flex-direction: row;
	justify-content: flex-end;
	height:20px;
	padding:10px;
	font-size:10px;
}
.message_unread_count{
	height:100%;
	display:flex;
	flex-direction: row;
	align-items: flex-end;
	font-size:10px;
	margin:0px 5px;
}
.messenger_input{
	width:100%;
	height:150px;
	flex-shrink: 0;
	padding:10px;
	display:flex;
	flex-direction: column;
	background-color: rgba(200,200,200,0.1);
}
.messenger_input textarea{
	width:100%;
	flex-grow:1;
	box-sizing: border-box;
	border-radius:5px;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1);
	resize: none;
	padding:5px;
	border:none;
}
.messenger_input_tools{
	flex-grow:0.2;
	display:flex;
	flex-direction: row;
	width:100%;
	margin-top:5px;
}
.messenger_input_tools ul{
	display:flex;
	flex-direction: row;
	width:100%;
	justify-content: flex-start;
	margin:0;
	padding:0;
	list-style: none; 
	align-content: center;
}
.messenger_input_tools li:not(:last-child) {
	margin:0px 15px;
}
.messenger_input_tools li:last-child {
	margin-left: auto;
	margin-right: 15px;
}

/* messneger end */


.card { 
	width:100%;
	max-width: calc(100vw - 850px);
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
	background: linear-gradient(to bottom, rgba(0,0,0,0.8) 15px, transparent 15px);
/* 	background: linear-gradient(to bottom, rgba(255,217,229,0.5) 15px, transparent 15px); */
	display:flex;
	flex-direction:column;
	border-radius : 5px;
	padding-top:15px;
	margin-bottom:30px;
	flex-grow: 0;
	background-color: white;
	flex-shrink: 0;
}

.card_header {
	height:60px;
	width:100%;
	box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2);
	display:flex;
	justify-content: flex-start;
	align-content: center;
}
.card_header_img {
	height:100%;
	width:80px;
	display:flex;
	justify-content: center;
	align-content: center;
}
.card_header_name {
	height:100%;
	width:100%;
	display:flex;
	justify-content: flex-start;
	align-content: center;
}
.card_header_tools {
	margin-left:auto;
	height:100%;
	display:flex;
	justify-content: flex-start;
	align-content: center;
}
.card_header_tool{
	padding:10px;
	display:flex;
	flex-direction:column;
	justify-content: center;
	align-content: center;
}
.card_header_tool span{
	font-size:12px;
}

.card_body {
	padding:0px 10px;
	flex-grow:1;
	width:100%;
	display:flex;
	flex-direction: column;
}
.card_body_content{
	padding-top:10px;
	width:100%;
	display:flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-grow:1;
	overflow-y:auto;
	white-space: pre-wrap;
	max-height:400px;
	min-height:60px;
}
.card_body_tags{
	width:100%;
	height:30px;
	display:flex;
	justify-content: flex-start;
	align-items: center;
}
.card_foot {
	border-top:1px solid rgba(0,0,0,0.1);
	height:auto;
	min-height:60px;
	width:100%;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
}
.card_foot_comment{
	width:100%;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding:10px;
	max-height:350px;
}
.card_foot_comment_card{
	min-width:50%;
	max-width:80%;
}

.card_foot_comment_input{
	width:100%;
	padding:10px;
	display:flex;
	
}
.card_foot_comment_input textarea{
	flex-grow:1;
	height:100%;
	box-sizing: border-box;
	border-radius:5px;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1);
	resize: none;
	border:none;
}
.card_foot_comment_input button{
	width:30px;
	padding:5px;
	display:flex;
}

.card_person {
	height:60px;
	flex-shrink: 0;
	width:100%;
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
	display:flex;
	border-radius : 5px;
	background-color: white;
	margin-bottom:10px;
}
.card_person_thumbnail {
	height:100%;
	width:60px;
	display:flex;
	flex-direction:column;
}
.card_person_info {
	height:100%;
	flex-grow:1;
	flex-basis: 0;
	display:flex;
	flex-direction:column;
}
.card_person_info_name {
	flex-grow:1.2;
	width:100%;
}
.card_person_info_comment {
	flex-grow:1;
	width:100%;
}
.card_person_info_logon {
	flex-grow:1;
	width:100%;
}
.card_person_tools {
	height:100%;
	flex-grow:0.2;
	flex-basis: 0;
	display:flex;
	flex-direction:column;
}
.card_person_tools_pin {
	width:100%;
	flex-grow:0.5;
	display:flex;
}
.card_person_tools_message {
	width:100%;
	flex-grow:0.5;
	display:flex;
}
.card_alarm {
	height:60px;
	flex-shrink: 0;
	width:100%;
	box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);
	display:flex;
	border-radius : 5px;
	background-color: white;
	margin-bottom:10px;
}
.card_alarm_thumbnail {
	height:100%;
	width:60px;
	display:flex;
	flex-direction:column;
}
.card_alarm_info {
	height:100%;
	flex-grow:1;
	flex-basis: 0;
	display:flex;
	flex-direction:column;
}
.card_alarm_info_title {
	flex-grow:1.2;
	width:100%;
}
.card_alarm_info_content {
	flex-grow:1;
	width:100%;
}
.card_alarm_info_time {
	flex-grow:1;
	width:100%;
}

.card_comment {
	min-height:50px;
	max-height:200px;
	flex-shrink: 0;
	width:100%;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.1);
	display:flex;
	border-radius : 5px;
	background-color: white;
	margin:5px 0px;
}
.card_comment_thumbnail {
	height:100%;
	width:60px;
	display:flex;
	flex-direction:column;
}
.card_comment_body {
	height:100%;
	flex-grow:1;
	flex-basis: 0;
	display:flex;
	flex-direction:column;
	padding:5px;
}
.card_comment_name {
	flex-grow:1.2;
	width:100%;
	display:flex;
	justify-content: flex-start;
	align-items: center;
}
.card_comment_content {
	flex-grow:1;
	width:100%;
	justify-content: flex-start;
	align-items: flex-start;
	margin:5px 0px 10px 0px;
	font-size:12px;
	white-space: pre-wrap;
	max-height:200px;
	overflow-y:auto;
}
.card_comment_time {
	flex-grow:1;
	width:100%;
	justify-content: flex-start;
	align-items: center;
	font-size:12px;
}
.card_comment_time i{
	margin:0px 5px;
}
.card_comment_time span{
	margin-right:10px;
	margin-left:auto;
	font-size:12px;
}
